* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddbdb;
}

h1 {
    font-size: 3em;
    text-align: center;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    margin: auto;
}

input {
    height: 120px;
    font-size: 2rem;
    width: 80%;
    padding-left: 5%;
}

button.add {
    width: 20%;
    cursor: pointer;
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
    height: 120px;

    border-radius: 0 10px 10px 0;
}

main {
   display: flex;
   flex-direction: column;
   border: 1px solid blue;
   width: 90%;
   height: 100vh;
   margin: auto;
   padding: 50px;
   margin-top: 10px;
}

.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: white;
    height: 80%;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 2%;
}

.item-clicado {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d4f6d9;
}

.item-clicado .item-nome>p {
    text-decoration: line-through;
    color: gray;
}

p {
    font-weight: bold;
}

.item-icone {
    flex: 20%;
    text-align: center;
    font-weight: bold;
}

.item-nome {
    flex: 55%;
    width: 80%;
    height: 100%;
}

.item-botao {
    flex: 25%;
    text-align: center;
    font-weight: bold;
    color: white;
}

.delete {
    background-color: red;
    border: none;
    padding: 10px;
    height: 80px;
    width: 100%;
}

.fa-check-circle {
    color: green;
}